[Desktop Entry]
Name=SebgmailImapNotify
GenericName=Sebgmail mail Synchronizer
Comment=start imapnotify on the Sebgmail Account
Exec=imapnotify -c /home/lemagues/.imapnotify/sebgmail.js
Terminal=false
Type=Application
Categories=Network;FileTransfer;
StartupNotify=false
